Repository Diatonic-AI/wix-studio-azure-platform: changes, and which pre-commit hooks are due for each by the changed paths.
All: dependency-check, azure-best-practices, performance-budget-check, environment-config-check, azure-resource-naming

dependency-check:
  name: Dependency Vulnerability Check
  entry: bash -c 'npm audit --audit-level=high --production'
  language: system
  pass_filenames: false

azure-best-practices:
  name: Azure Configuration Check
  entry: python scripts/azure-config-check.py
  language: system
  pass_filenames: true

performance-budget-check:
  name: Performance Budget Validation
  entry: node scripts/performance-budget-check.js
  language: system
  pass_filenames: false

environment-config-check:
  name: Environment Configuration Validation
  entry: python scripts/env-config-check.py
  language: system
  pass_filenames: true

azure-resource-naming:
  name: Azure Resource Naming Convention
  entry: python scripts/azure-naming-check.py
  language: system
  pass_filenames: true

Add GitHub secrets setup script and update .gitignore
  .gitignore
  scripts/setup-github-secrets.ps1
  scripts/setup-secrets.ps1
Due: none

Ready for deployment: GitHub-only DevOps setup complete
  .github/workflows/azure-deploy.yml
  GITHUB_DEVOPS_GUIDE.md
  LAUNCH_READINESS_ASSESSMENT.md
  infra/bicep/main.bicep
  infra/bicep/main.parameters.json
  infra/main.bicep
  infra/main.parameters.json
  infrastructure/bicep/main.bicep
  package.json
  packages/api-services/Dockerfile
  packages/api-services/src/config.ts
  packages/microservices/requirements.txt
  scripts/setup-azure-oidc.ps1
  scripts/setup-github-devops.ps1
  scripts/setup-github-secrets.ps1
  scripts/setup-secrets-simple.ps1
Due: dependency-check, azure-best-practices, performance-budget-check, azure-resource-naming

Fix deployment issues and simplify Python dependencies
  .github/workflows/azure-deploy.yml
  docs/DEPLOYMENT_MONITORING_GUIDE.md
  docs/ENVIRONMENT_SETUP.md
  docs/GETTING_STARTED.md
  docs/GITHUB_DEVOPS_GUIDE.md
  docs/LAUNCH_READINESS_ASSESSMENT.md
  docs/PERFORMANCE_TESTING_GUIDE.md
  docs/SECURITY_GUIDE.md
Due: none

Fix Dockerfile npm ci syntax for modern npm versions
  packages/api-services/Dockerfile
Due: none

Fix Docker build: Use npm install instead of npm ci and include package-lock.json
  .gitignore
  package-lock.json
  packages/api-services/Dockerfile
Due: none

Fix workflow jobs to ensure they all run: add test files, fix Python tests, use GitHub Container Registry, fix conditionals
  .github/workflows/ai-powered-cicd.yml
  .github/workflows/azure-deploy.yml
  package.json
  packages/microservices/requirements.txt
  packages/microservices/test_main.py
  test/basic.test.js
Due: dependency-check, performance-budget-check

Fix api-services Dockerfile: install all deps for build, then only production deps in final stage
  packages/api-services/Dockerfile
  packages/microservices/requirements.txt
  packages/microservices/test_health.py
  test/basic.test.js
Due: none

Fix Dockerfile: use npm install --omit=dev instead of deprecated --only=production
  packages/api-services/Dockerfile
Due: none

fix: Update Dockerfile to use npm install --omit=dev
  .github/workflows/ai-code-review.yml
  .github/workflows/ai-powered-cicd.yml
  .github/workflows/azure-deploy.yml
  packages/api-services/Dockerfile
  packages/microservices/test_health.py
  packages/microservices/test_main.py
  scripts/setup-github-secrets.ps1
  test/basic.test.js
Due: none

fix: Dockerfile builder stage - install all dependencies including dev deps
  packages/api-services/Dockerfile
Due: none

[dev] Implement comprehensive CI/CD system with AI code review, environment-specific deployments, and commit flag triggers
  .github/workflows/ai-code-review.yml
  .github/workflows/ai-universal-review.yml
  .github/workflows/deploy-development.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  DEPLOYMENT_MONITORING_GUIDE.md
  DEPLOYMENT_WORKFLOWS_GUIDE.md
  GITHUB_DEVOPS_GUIDE.md
  LAUNCH_READINESS_ASSESSMENT.md
  PERFORMANCE_TESTING_GUIDE.md
  SECURITY_GUIDE.md
  infra/bicep/main.bicep
  infrastructure/bicep/main.bicep
  scripts/azure-config-check.py
  scripts/performance-budget-check.js
  scripts/setup-azure-oidc.ps1
  scripts/setup-cicd.ps1
  scripts/setup-github-devops.ps1
  scripts/setup-github-secrets-secure.ps1
  scripts/setup-secrets-simple.ps1
Due: azure-best-practices, azure-resource-naming

feat(security): add GPG commit signing requirements and verification
  .github/workflows/gpg-verification.yml
  .gitmessage
  scripts/setup-git-gpg.ps1
  scripts/setup-git-gpg.sh
Due: none

fix(security): update GPG verification to check only current commit
  .github/workflows/gpg-verification.yml
Due: none

test: verify GPG signature workflow functionality
  README.md
Due: none

fix: packages/internal-tools/package.json to reduce vulnerabilities
  packages/internal-tools/package.json
Due: dependency-check, performance-budget-check

Path conditions:
  dependency-check: any of: package\.json$, but not: (?x)^(
    \.git/.*|
    \.vscode/.*|
    node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    coverage/.*|
    \.nyc_output/.*|
    __pycache__/.*|
    \.pytest_cache/.*
)$

  azure-best-practices: any of: infrastructure/.*\.(bicep|json)$, but not: (?x)^(
    \.git/.*|
    \.vscode/.*|
    node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    coverage/.*|
    \.nyc_output/.*|
    __pycache__/.*|
    \.pytest_cache/.*
)$

  performance-budget-check: any of: package\.json$, but not: (?x)^(
    \.git/.*|
    \.vscode/.*|
    node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    coverage/.*|
    \.nyc_output/.*|
    __pycache__/.*|
    \.pytest_cache/.*
)$

  environment-config-check: any of: \.env\.example$, but not: (?x)^(
    \.git/.*|
    \.vscode/.*|
    node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    coverage/.*|
    \.nyc_output/.*|
    __pycache__/.*|
    \.pytest_cache/.*
)$

  azure-resource-naming: any of: infrastructure/.*\.bicep$, but not: (?x)^(
    \.git/.*|
    \.vscode/.*|
    node_modules/.*|
    \.next/.*|
    dist/.*|
    build/.*|
    coverage/.*|
    \.nyc_output/.*|
    __pycache__/.*|
    \.pytest_cache/.*
)$

